<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cydm.money.mapper.RechargeRecordMapper">
  <resultMap id="BaseResultMap" type="RechargeRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="recharge_no" jdbcType="VARCHAR" property="rechargeNo" />
    <result column="recharge_status" jdbcType="VARCHAR" property="rechargeStatus" />
    <result column="recharge_money" jdbcType="DOUBLE" property="rechargeMoney" />
    <result column="recharge_time" jdbcType="TIMESTAMP" property="rechargeTime" />
    <result column="recharge_desc" jdbcType="VARCHAR" property="rechargeDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, recharge_no, recharge_status, recharge_money, recharge_time, recharge_desc
  </sql>
  <select id="selectRechargeAll" resultMap="BaseResultMap">
    select
      b.id,
      b.uid,
      b.recharge_no,
      b.recharge_status,
      b.recharge_money,
      b.recharge_time,
      b.recharge_desc
    from
      b_recharge_record b
    where b.uid=#{id}
    order by
      b.recharge_time desc
  </select>
  <insert id="insert" parameterType="RechargeRecord">
    insert into b_recharge_record(id, uid, recharge_no, recharge_status, recharge_money, recharge_time, recharge_desc)
    values (default,#{uid},#{rechargeNo},#{rechargeStatus},#{rechargeMoney},#{rechargeTime},#{rechargeDesc})
  </insert>
    <select id="selectStatus" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from b_recharge_record
        where recharge_status=#{i}

    </select>
  <update id="update" parameterType="RechargeRecord">
    update b_recharge_record
    <set>
      <if test="rechargeStatus!=null">recharge_status=#{rechargeStatus}, </if>
    </set>
    where id=#{id}
  </update>
  <update id="updateStatus">
    update b_recharge_record
    set recharge_status=#{status}
  where recharge_no=#{trade_status}
  </update>



</mapper>